html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* optional: remove default button weirdness */
button {
  font: inherit;
}

/* optional: clean links */
a {
  color: inherit;
  text-decoration: none;
}
